header {
  a {
    padding: 2px 10px;
    text-decoration: none;
    color: white;

    img {
      height: 50px;
      vertical-align: middle;
    }

    // .mat-icon {
    //   fill: #000;
    // }
  }

  .spacer {
    flex: 1 1 auto;
  }

}
