/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.info {
  background: #2196F3;
}

.success {
  background: #54a254;

  .mat-button-wrapper {
    color: #fff;
  }

}

.warning {
  background: #f89406;
}

.error {
  background: #bd362f;

  .mat-button-wrapper {
    color: #fff;
  }
}
